<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserPerfectMapper" >
  <resultMap id="BaseResultMap" type="com.example.pojo.UserPerfect" >
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="useridCard" property="useridcard" jdbcType="VARCHAR" />
    <result column="userRealName" property="userrealname" jdbcType="VARCHAR" />
    <result column="isAutoPay" property="isautopay" jdbcType="TINYINT" />
    <result column="userEmail" property="useremail" jdbcType="VARCHAR" />
    <result column="userSex" property="usersex" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.pojo.UserPerfectWithBLOBs" extends="BaseResultMap" >
    <result column="userPhoto" property="userphoto" jdbcType="LONGVARCHAR" />
    <result column="userFaceImage" property="userfaceimage" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userid, useridCard, userRealName, isAutoPay, userEmail, userSex
  </sql>
  <sql id="Blob_Column_List" >
    userPhoto, userFaceImage
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.example.pojo.UserPerfectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_perfect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.pojo.UserPerfectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_perfect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.example.pojo.UserPerfectExample" >
    delete from user_perfect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.pojo.UserPerfectWithBLOBs" >
    insert into user_perfect (userid, useridCard, userRealName, 
      isAutoPay, userEmail, userSex, 
      userPhoto, userFaceImage)
    values (#{userid,jdbcType=INTEGER}, #{useridcard,jdbcType=VARCHAR}, #{userrealname,jdbcType=VARCHAR}, 
      #{isautopay,jdbcType=TINYINT}, #{useremail,jdbcType=VARCHAR}, #{usersex,jdbcType=VARCHAR}, 
      #{userphoto,jdbcType=LONGVARCHAR}, #{userfaceimage,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.pojo.UserPerfectWithBLOBs" >
    insert into user_perfect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="useridcard != null" >
        useridCard,
      </if>
      <if test="userrealname != null" >
        userRealName,
      </if>
      <if test="isautopay != null" >
        isAutoPay,
      </if>
      <if test="useremail != null" >
        userEmail,
      </if>
      <if test="usersex != null" >
        userSex,
      </if>
      <if test="userphoto != null" >
        userPhoto,
      </if>
      <if test="userfaceimage != null" >
        userFaceImage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="useridcard != null" >
        #{useridcard,jdbcType=VARCHAR},
      </if>
      <if test="userrealname != null" >
        #{userrealname,jdbcType=VARCHAR},
      </if>
      <if test="isautopay != null" >
        #{isautopay,jdbcType=TINYINT},
      </if>
      <if test="useremail != null" >
        #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null" >
        #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="userphoto != null" >
        #{userphoto,jdbcType=LONGVARCHAR},
      </if>
      <if test="userfaceimage != null" >
        #{userfaceimage,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.pojo.UserPerfectExample" resultType="java.lang.Integer" >
    select count(*) from user_perfect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_perfect
    <set >
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.useridcard != null" >
        useridCard = #{record.useridcard,jdbcType=VARCHAR},
      </if>
      <if test="record.userrealname != null" >
        userRealName = #{record.userrealname,jdbcType=VARCHAR},
      </if>
      <if test="record.isautopay != null" >
        isAutoPay = #{record.isautopay,jdbcType=TINYINT},
      </if>
      <if test="record.useremail != null" >
        userEmail = #{record.useremail,jdbcType=VARCHAR},
      </if>
      <if test="record.usersex != null" >
        userSex = #{record.usersex,jdbcType=VARCHAR},
      </if>
      <if test="record.userphoto != null" >
        userPhoto = #{record.userphoto,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.userfaceimage != null" >
        userFaceImage = #{record.userfaceimage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update user_perfect
    set userid = #{record.userid,jdbcType=INTEGER},
      useridCard = #{record.useridcard,jdbcType=VARCHAR},
      userRealName = #{record.userrealname,jdbcType=VARCHAR},
      isAutoPay = #{record.isautopay,jdbcType=TINYINT},
      userEmail = #{record.useremail,jdbcType=VARCHAR},
      userSex = #{record.usersex,jdbcType=VARCHAR},
      userPhoto = #{record.userphoto,jdbcType=LONGVARCHAR},
      userFaceImage = #{record.userfaceimage,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_perfect
    set userid = #{record.userid,jdbcType=INTEGER},
      useridCard = #{record.useridcard,jdbcType=VARCHAR},
      userRealName = #{record.userrealname,jdbcType=VARCHAR},
      isAutoPay = #{record.isautopay,jdbcType=TINYINT},
      userEmail = #{record.useremail,jdbcType=VARCHAR},
      userSex = #{record.usersex,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>